EC<>LO-connector.json
[{"id":"cd831c58.aed2a8","type":"subflow","name":"Stack","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"388aeab2.f37ac6"}]}],"out":[{"x":620,"y":100,"wires":[{"id":"388aeab2.f37ac6","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"388aeab2.f37ac6","type":"function","z":"cd831c58.aed2a8","name":"getAllDevices(gatewayList)","func":"var tab = msg.payload;\nif (tab!=null&&tab.length>0)\n{\n    if(tab.length==1)\n    {\n        var last_element = tab[0];\n        var msg1= {};\n        msg1.payload=last_element;\n        var msg2= {};\n        msg2.payload=null;\n        return [msg2,msg1];\n    }\n    else\n    {\n        var last_element = tab[tab.length-1];\n        tab.splice(tab.length - 1);\n        var msg1= {};\n        msg1.payload=last_element;\n        var msg2= {};\n        msg2.payload=tab;\n        return [msg2,msg1];  \n    }\n   \n}\n\nelse\n;\n\n\n\n","outputs":2,"noerr":0,"x":360,"y":120,"wires":[["ee8f234a.7813b8"],[]]},{"id":"ee8f234a.7813b8","type":"function","z":"cd831c58.aed2a8","name":"Stack(gatewayList)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["388aeab2.f37ac6"]]},{"id":"d8b9ccd7.b6dbe8","type":"tab","label":"EC <> LO with delete","disabled":false,"info":""},{"id":"51c0ea44.222da4","type":"http request","z":"d8b9ccd7.b6dbe8","name":"POST Auth to get Token","method":"POST","ret":"txt","paytoqs":false,"url":"https://api-sbx.everyware.io/v1/authentication/user","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":240,"wires":[["d037f61e.16175","f289bdfd.c1c1b"]]},{"id":"f289bdfd.c1c1b","type":"function","z":"d8b9ccd7.b6dbe8","name":"Extract Token","func":"var obj = JSON.parse(msg.payload);\nmsg.headers = {\n    Authorization: \"Bearer \"+obj.tokenId\n}\nreturn [msg, {payload: obj.tokenId}];","outputs":2,"noerr":0,"x":360,"y":280,"wires":[["8124827b.763ab8"],["abcc384.a9a3148"]]},{"id":"8124827b.763ab8","type":"http request","z":"d8b9ccd7.b6dbe8","name":"GET Device Data","method":"GET","ret":"txt","paytoqs":false,"url":"https://api-sbx.everyware.io/v1/_/devices","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":320,"wires":[["8fa4607d.d031"]]},{"id":"8fa4607d.d031","type":"function","z":"d8b9ccd7.b6dbe8","name":"Extract Device IDs","func":"var obj = JSON.parse(msg.payload);\nvar devices = [];\n\nfor (var i = 0; i < obj.items.length; i++){\n    devices.push(obj.items[i].id);\n}\nmsg.payload=devices;\nmsg.ECLO_device_to_delete={EC_gateway_number:0,LO_device_delele:[]};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["438275d.7df8b0c","e1443783.1555d"]]},{"id":"d037f61e.16175","type":"function","z":"d8b9ccd7.b6dbe8","name":"GET token expiration date","func":"var obj = JSON.parse(msg.payload);\nreturn {payload: obj.expiresOn};","outputs":1,"noerr":0,"x":710,"y":220,"wires":[[]]},{"id":"81d21893.5e4d78","type":"comment","z":"d8b9ccd7.b6dbe8","name":"READ ME","info":"This flow is responsible for synchronizing EC devcices with LO pletform\nUSED API:https://www.eclipse.org/kapua/docs/api/index.html?version=1.0.0#/\n","x":100,"y":60,"wires":[]},{"id":"9ff71ce6.3c1888","type":"http request","z":"d8b9ccd7.b6dbe8","name":"GET LO devices","method":"GET","ret":"txt","paytoqs":false,"url":"https://liveobjects.orange-business.com/api/v1/deviceMgt/devices","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":600,"wires":[["b737056a.97893"]]},{"id":"d3321214.4912d","type":"function","z":"d8b9ccd7.b6dbe8","name":"Pass API Key","func":"msg.headers = {\n    Accept: \"application/json\",\n    'X-API-Key': \"448e298d71bd40b7bebbfe2bee22cd5a\"\n}\nreturn msg;\n\n//3e731338e1d74fc5b8582c41a5a98964","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["9ff71ce6.3c1888"]]},{"id":"85651ed1.a5951","type":"inject","z":"d8b9ccd7.b6dbe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["bd4d9312.116ce8","d3321214.4912d"]]},{"id":"b737056a.97893","type":"function","z":"d8b9ccd7.b6dbe8","name":"Extract devices name","func":"var obj = JSON.parse(msg.payload);\nvar devices = [];\n\nfor (var i = 0; i < obj.length; i++){\n    if(obj[i].id.includes('x-connector:ESF_EC_')){\n        devices.push(obj[i].id.split('x-connector:ESF_EC_').pop());\n    }\n}\nreturn {payload:devices};","outputs":1,"noerr":0,"x":700,"y":600,"wires":[["1394291.e874757","22f1eb09.238ea4"]]},{"id":"b9c54dcd.c7b2b","type":"function","z":"d8b9ccd7.b6dbe8","name":"Check consistency","func":"var EC_devices = JSON.parse(msg.payload[0]);\nvar LO_devices = msg.payload[1];\nvar to_del = [];\n\n\nif ( LO_devices.length !== undefined){\n    for(var i = 0; i<LO_devices.length; i++){\n         \n        if(EC_devices.deviceAsset.findIndex(obj => obj.name==LO_devices[i])==-1){\n            to_del.push(LO_devices[i])\n     \n              }\n    }\n}\nmsg.del = to_del;\nmsg.payload = EC_devices.deviceAsset;\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":340,"wires":[["d0405dcc.16ada8","4f8c7276.3b0ddc","bd5f1da6.68d55"]]},{"id":"bd4d9312.116ce8","type":"function","z":"d8b9ccd7.b6dbe8","name":"Pass Credencials","func":"  msg = {   \"password\" : \"Eurotech1234%\", \n        \"username\": \"Orange-WS_api\" };\nreturn {payload : msg};","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["51c0ea44.222da4"]]},{"id":"974a80b0.0cc7b","type":"http request","z":"d8b9ccd7.b6dbe8","name":"POST Gateway Assets Values","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2150,"y":320,"wires":[["4cad7761.d4f06","941dd49b.01195"]]},{"id":"8fb3369a.126b3","type":"function","z":"d8b9ccd7.b6dbe8","name":"Set approprieate headers and payload","func":"var jsonbody = msg.payload;\nvar token = msg.token;\nvar id = msg.url;\n\nmsg.url = id + \"/_read\"\nmsg.headers = {\n    Authorization: \"Bearer \"+token,\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = jsonbody;\nreturn msg;\n","outputs":1,"noerr":0,"x":2150,"y":260,"wires":[["974a80b0.0cc7b"]]},{"id":"bff067c0.92087","type":"comment","z":"d8b9ccd7.b6dbe8","name":"GET LO Devices","info":"","x":100,"y":420,"wires":[]},{"id":"65ebe462.5a2d9c","type":"comment","z":"d8b9ccd7.b6dbe8","name":"GET EC devices","info":"","x":260,"y":140,"wires":[]},{"id":"438275d.7df8b0c","type":"function","z":"d8b9ccd7.b6dbe8","name":"getAllDevices(gatewayList)","func":"var tab = msg.payload;\nif (tab!=null&&tab.length>0)\n{\n    if(tab.length==1)\n    {\n        var last_element = tab[0];\n        var msg1= {};\n        msg1.payload=last_element;\n        var msg2= {};\n        msg2.payload=null;\n        return [msg2,msg1];\n    }\n    else\n    {\n        var last_element = tab[tab.length-1];\n        tab.splice(tab.length - 1);\n        var msg1= {};\n        msg1.payload=last_element;\n        var msg2= {};\n        msg2.payload=tab;\n        return [msg2,msg1];  \n    }\n   \n}\n\nelse\n;\n\n\n\n","outputs":2,"noerr":0,"x":620,"y":540,"wires":[["84f67b75.cf4d6"],["ce99fc8f.ab3e48","52502bb8.0ef9b4"]]},{"id":"90375802.15f4c","type":"function","z":"d8b9ccd7.b6dbe8","name":"Stack(gatewayList)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":440,"wires":[["438275d.7df8b0c"]]},{"id":"e1e89d0f.b84b98","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Get Device assets 1 by 1","info":"","x":730,"y":400,"wires":[]},{"id":"52502bb8.0ef9b4","type":"join","z":"d8b9ccd7.b6dbe8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":540,"wires":[["7aace098.212ad8"]]},{"id":"abcc384.a9a3148","type":"change","z":"d8b9ccd7.b6dbe8","name":"Set Token to Context","rules":[{"t":"set","p":"token","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[[]]},{"id":"ce99fc8f.ab3e48","type":"change","z":"d8b9ccd7.b6dbe8","name":"Extract token","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":500,"wires":[["52502bb8.0ef9b4"]]},{"id":"84f67b75.cf4d6","type":"delay","z":"d8b9ccd7.b6dbe8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":440,"wires":[["90375802.15f4c"]]},{"id":"7aace098.212ad8","type":"function","z":"d8b9ccd7.b6dbe8","name":"Set query parameters","func":"var obj = msg.payload;\nmsg.url = 'https://api-sbx.everyware.io/v1/_/devices/' + obj[0]\nmsg.headers = {\n    Authorization: \"Bearer \"+obj[1]\n}\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":540,"wires":[["31eadfcb.19fa6"]]},{"id":"3ef60216.99f6ae","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Possible extesion of checking token expiration time","info":"","x":810,"y":180,"wires":[]},{"id":"f8e40fd4.af7d08","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Now extract assets values","info":"","x":1630,"y":220,"wires":[]},{"id":"babd62ac.49174","type":"mqtt out","z":"d8b9ccd7.b6dbe8","name":"MQTT","topic":"","qos":"0","retain":"false","broker":"bb6fad51.fba1b8","x":3490,"y":400,"wires":[]},{"id":"4b0e7105.f1389","type":"function","z":"d8b9ccd7.b6dbe8","name":"Check connection status","func":"var obj = JSON.parse(msg.payload[0]);\nif(obj.connection.status == \"MISSING\" || obj.connection.status == \"DISCONNECTED\"){\n    return null;\n}\nelse{\n    //get ECLO devices and icrement by 1 if exists\n    msg.ECLO_device_to_delete=msg.payload[1];\n    msg.ECLO_device_to_delete.EC_gateway_number=msg.payload[1].EC_gateway_number+1\n    msg.payload=obj.id\n  \n    return msg;\n}","outputs":1,"noerr":0,"x":1390,"y":280,"wires":[["d9e32f74.588518","a7c31f82.20c428","133f621.7005a9e"]]},{"id":"d2584910.b708e8","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Check connection status","info":"","x":1090,"y":460,"wires":[]},{"id":"133f621.7005a9e","type":"change","z":"d8b9ccd7.b6dbe8","name":"Extract token","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":260,"wires":[["a7c31f82.20c428"]]},{"id":"a7c31f82.20c428","type":"join","z":"d8b9ccd7.b6dbe8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1650,"y":320,"wires":[["b7b8cff5.4dd16"]]},{"id":"b7b8cff5.4dd16","type":"function","z":"d8b9ccd7.b6dbe8","name":"Set query parameters","func":"var obj = msg.payload;\nmsg.url = 'https://api-sbx.everyware.io/v1/_/devices/' + obj[0] + '/assets'\nmsg.headers = {\n    Authorization: \"Bearer \"+obj[1]\n}\nmsg.token = obj[1]\n\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":320,"wires":[["d155b5cd.2b962"]]},{"id":"d155b5cd.2b962","type":"http request","z":"d8b9ccd7.b6dbe8","name":"GET Gateway Assets","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1880,"y":260,"wires":[["8fb3369a.126b3"]]},{"id":"1394291.e874757","type":"change","z":"d8b9ccd7.b6dbe8","name":"","rules":[{"t":"set","p":"lo_devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":580,"wires":[[]]},{"id":"4cad7761.d4f06","type":"change","z":"d8b9ccd7.b6dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lo_devices","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2460,"y":400,"wires":[["941dd49b.01195"]]},{"id":"941dd49b.01195","type":"join","z":"d8b9ccd7.b6dbe8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2510,"y":340,"wires":[["b9c54dcd.c7b2b"]]},{"id":"7a47a694.28fa28","type":"function","z":"d8b9ccd7.b6dbe8","name":"Set asset status","func":"var assetName=msg.payload.name\nmsg.end_device=assetName;\nvar data=msg.payload.channels\nmsg.data={}\n\nif(data.length>0){\n    msg.status=\"Online\"\n   \n    for(var i=0;i<data.length;i++){\n        var keys = Object.keys(data[i]);\n        if(keys.includes(\"value\")){\n             msg.data[data[i].name]=data[i].value\n        }\n      \n    }\n    if(Object.keys(msg.data).length==0){\n        msg.status=\"Offline\"\n    msg.data=null\n    }\n}else{\n    msg.status=\"Offline\"\n    msg.data=null\n}\n\n//sprawdzać czy ONLINE czy OFFLINE \n\nreturn msg;","outputs":1,"noerr":0,"x":3040,"y":420,"wires":[["aecfab95.b42fb8","db5b3a0b.aa0818"]]},{"id":"d0405dcc.16ada8","type":"subflow:cd831c58.aed2a8","z":"d8b9ccd7.b6dbe8","name":"","env":[],"x":2890,"y":340,"wires":[["7a47a694.28fa28"]]},{"id":"aecfab95.b42fb8","type":"function","z":"d8b9ccd7.b6dbe8","name":"Data","func":"msg.topic = \"connector/v1/nodes/ESF_EC_\"+msg.end_device+\"/data\"\n var date = new Date().toISOString();\nif(msg.status==\"Online\"){\nmsg.payload={\n    \"streamId\": \"urn:lo:nsid:ESF\" + msg.end_device,\n    \"timestamp\": date,\n    \"model\": \"data_v0\",\n    \"value\": msg.data,\n    \"location\": {\n        \"lat\": 52.1760197,\n        \"lon\": 21.0015822,\n        \"alt\": 35.2,\n        \"accuracy\": 12.3,\n        \"provider\": \"GPS\"\n    },\n    \"tags\": [\n        \"production\",\n        \"warsaw\"\n    ]\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":3190,"y":400,"wires":[["babd62ac.49174"]]},{"id":"db5b3a0b.aa0818","type":"function","z":"d8b9ccd7.b6dbe8","name":"Status","func":"msg.topic = \"connector/v1/nodes/ESF_EC_\"+msg.end_device+\"/status\"\nif(msg.status==\"Online\"){\n    var date = new Date().toISOString()\nmsg.payload= {\n                \"status\": \"ONLINE\",\n                \"capabilities\": {\n                                    \"command\": {\n                                                    \"available\": true\n                                                }\n                                },\n            \"lastContact\":date,\n            \"sessionSequenceId\": 1,\n            \"eventSequenceId\": 3\n            }\n\n}else{\nmsg.payload= {\n    \"status\": \"OFFLINE\",\n    \"capabilities\": {\n        \"command\": {\n            \"available\": true\n        }\n    },\n    \"lastContact\": date,\n    \"sessionSequenceId\": 1,\n    \"eventSequenceId\": 3\n}\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":3190,"y":480,"wires":[["5f2ec639.cf345"]]},{"id":"22f1eb09.238ea4","type":"debug","z":"d8b9ccd7.b6dbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":640,"wires":[]},{"id":"7293280d.9a7e18","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Compare Services","info":"List1 - to be added\nList2 - to be deleted","x":2670,"y":300,"wires":[]},{"id":"5f2ec639.cf345","type":"delay","z":"d8b9ccd7.b6dbe8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3320,"y":480,"wires":[["babd62ac.49174"]]},{"id":"bd5f1da6.68d55","type":"join","z":"d8b9ccd7.b6dbe8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3010,"y":540,"wires":[["83d4e151.feee48"]]},{"id":"d9e32f74.588518","type":"change","z":"d8b9ccd7.b6dbe8","name":"","rules":[{"t":"set","p":"ECLO_device_to_delete","pt":"flow","to":"ECLO_device_to_delete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":380,"wires":[[]]},{"id":"e1443783.1555d","type":"change","z":"d8b9ccd7.b6dbe8","name":"","rules":[{"t":"set","p":"ECLO_device_to_delete","pt":"flow","to":"ECLO_device_to_delete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":340,"wires":[[]]},{"id":"42e9be9b.224798","type":"change","z":"d8b9ccd7.b6dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ECLO_device_to_delete","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":640,"wires":[["21980c1b.16549c"]]},{"id":"21980c1b.16549c","type":"join","z":"d8b9ccd7.b6dbe8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1660,"y":580,"wires":[["4b0e7105.f1389"]]},{"id":"4f8c7276.3b0ddc","type":"change","z":"d8b9ccd7.b6dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ECLO_device_to_delete","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":520,"wires":[["bd5f1da6.68d55"]]},{"id":"83d4e151.feee48","type":"function","z":"d8b9ccd7.b6dbe8","name":"Extract devices to delete","func":"//assign devices\nmsg.ECLO_device_to_delete=msg.payload[1]\n//assign to del array\nmsg.ECLO_device_to_delete.LO_device_delele.push(msg.del)\n\n\nif(msg.ECLO_device_to_delete.EC_gateway_number==msg.ECLO_device_to_delete.LO_device_delele.length){\n   var non_exists_per_gateway=msg.ECLO_device_to_delete.LO_device_delele;\n     msg.non=[]\n    var to_del_first_gateway=non_exists_per_gateway[0]\n\n    for(var i=0;i<to_del_first_gateway.length; i++){\n    var counter=1;\n        for(var j=1; j<non_exists_per_gateway.length;j++){\n            if(non_exists_per_gateway[j].indexOf(to_del_first_gateway[i])>-1){\n                counter++\n            }\n        }\n        if(counter==msg.ECLO_device_to_delete.EC_gateway_number){\n          \n            msg.non.push(to_del_first_gateway[i])\n        }\n    }\n    if (msg.non === undefined){\n        return null;\n    }\n    else {\n        return msg\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":3010,"y":600,"wires":[["ed459e0a.f97fd8","f2df0376.872aa"]]},{"id":"ed459e0a.f97fd8","type":"change","z":"d8b9ccd7.b6dbe8","name":"","rules":[{"t":"set","p":"ECLO_device_to_delete","pt":"flow","to":"ECLO_device_to_delete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3270,"y":540,"wires":[[]]},{"id":"560eb032.288a","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Send status","info":"","x":3350,"y":360,"wires":[]},{"id":"7347bdbd.c63034","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Get Assets 1 by 1","info":"","x":2900,"y":300,"wires":[]},{"id":"f2df0376.872aa","type":"function","z":"d8b9ccd7.b6dbe8","name":"Get List to Del","func":"var assetName=msg.non\nif (assetName !== undefined){\n    msg.payload = assetName;\n    return msg;\n}","outputs":1,"noerr":0,"x":3240,"y":600,"wires":[["894f8948.be0f1"]]},{"id":"fb9f6817.f59f9","type":"function","z":"d8b9ccd7.b6dbe8","name":"Set LO API Headers and URL","func":"id = \"urn:lo:nsid:x-connector:ESF_EC_\" + msg.payload\nmsg.url = 'https://liveobjects.orange-business.com/api/v1/deviceMgt/devices/' + id\nmsg.headers = {\n    Accept: \"application/json\",\n    'X-API-Key': \"448e298d71bd40b7bebbfe2bee22cd5a\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":3650,"y":560,"wires":[["e5dffea4.cdd7f","78cd1768.e07bd","c8273c8f.ffb35"]]},{"id":"c8273c8f.ffb35","type":"http request","z":"d8b9ccd7.b6dbe8","name":"","method":"DELETE","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":3930,"y":520,"wires":[[]]},{"id":"31eadfcb.19fa6","type":"http request","z":"d8b9ccd7.b6dbe8","name":"GET Gateway Status","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":540,"wires":[["42e9be9b.224798","21980c1b.16549c"]]},{"id":"e5dffea4.cdd7f","type":"debug","z":"d8b9ccd7.b6dbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3950,"y":580,"wires":[]},{"id":"78cd1768.e07bd","type":"debug","z":"d8b9ccd7.b6dbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":3920,"y":640,"wires":[]},{"id":"894f8948.be0f1","type":"subflow:cd831c58.aed2a8","z":"d8b9ccd7.b6dbe8","name":"","x":3410,"y":600,"wires":[["fb9f6817.f59f9"]]},{"id":"5d7d3bb1.4d1e14","type":"comment","z":"d8b9ccd7.b6dbe8","name":"Send Delete Request to LO","info":"","x":3940,"y":480,"wires":[]},{"id":"bb6fad51.fba1b8","type":"mqtt-broker","z":"","name":"MQTTCONNECTORMODE","broker":"liveobjects.orange-business.com","port":"1883","clientid":"ECLO","usetls":false,"compatmode":false,"keepalive":"30","cleansession":true,"birthTopic":"connector/v1/nodes/2/status","birthQos":"0","birthPayload":"{     \"status\": \"ONLINE\",     \"capabilities\": {         \"command\": {             \"available\": true         }     },     \"lastContact\": \"2020-03-05T09:32:47Z\",     \"sessionSequenceId\": 1,     \"eventSequenceId\": 3 }","closeTopic":"connector/v1/nodes/2/status","closeQos":"0","closePayload":"{     \"status\": \"OFFLINE\",     \"capabilities\": {         \"command\": {             \"available\": true         }     },     \"lastContact\": \"2020-03-05T09:32:47Z\",     \"sessionSequenceId\": 1,     \"eventSequenceId\": 3 }","willTopic":"connector/v1/nodes/2/status","willQos":"0","willPayload":"{     \"status\": \"OFFLINE\",     \"capabilities\": {         \"command\": {             \"available\": true         }     },     \"lastContact\": \"2020-03-05T09:32:47Z\",     \"sessionSequenceId\": 1,     \"eventSequenceId\": 3 }"}]