EC<>LO-command-handler.json
[{"id":"51bbabe4.29f894","type":"tab","label":"LO<>EC Command","disabled":false,"info":""},{"id":"919fca10.4ce698","type":"mqtt in","z":"51bbabe4.29f894","name":"","topic":"connector/v1/requests/command","qos":"2","datatype":"auto","broker":"f06f3a34.82ea7","x":270,"y":60,"wires":[["285e28b4.ccf018","3debb9c4.0a2a66"]]},{"id":"fa876cce.a9e89","type":"change","z":"51bbabe4.29f894","name":"Set Token to Context","rules":[{"t":"set","p":"token","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[[]]},{"id":"f6b0193b.5a6478","type":"change","z":"51bbabe4.29f894","name":"Set Token to Context","rules":[{"t":"set","p":"cmd","pt":"flow","to":"cmd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":140,"wires":[[]]},{"id":"2caa7642.0d60aa","type":"function","z":"51bbabe4.29f894","name":"getAllDevices(gatewayList)","func":"var tab = msg.payload;\nif (tab!=null&&tab.length>0)\n{\n    if(tab.length==1)\n    {\n        var last_element = tab[0];\n        var msg1= {};\n        msg1.payload=last_element;\n        var msg2= {};\n        msg2.payload=null;\n        return [msg2,msg1];\n    }\n    else\n    {\n        var last_element = tab[tab.length-1];\n        tab.splice(tab.length - 1);\n        var msg1= {};\n        msg1.payload=last_element;\n        var msg2= {};\n        msg2.payload=tab;\n        return [msg2,msg1];  \n    }\n   \n}\n\nelse\n;\n\n\n\n","outputs":2,"noerr":0,"x":700,"y":420,"wires":[["e532dc7e.6c892"],["7ebfcb64.7093b4","1aff8c62.910834"]]},{"id":"e532dc7e.6c892","type":"delay","z":"51bbabe4.29f894","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":360,"wires":[["eb34bc45.6db05"]]},{"id":"eb34bc45.6db05","type":"function","z":"51bbabe4.29f894","name":"Stack(gatewayList)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":360,"wires":[["2caa7642.0d60aa"]]},{"id":"53521cbb.55a554","type":"change","z":"51bbabe4.29f894","name":"Extract token","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":520,"wires":[["8f1dc06f.675ba"]]},{"id":"8f1dc06f.675ba","type":"join","z":"51bbabe4.29f894","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":560,"wires":[["8eee5ae2.c583a8"]]},{"id":"3debb9c4.0a2a66","type":"function","z":"51bbabe4.29f894","name":"Parse LO Command","func":"obj = JSON.parse(msg.payload);\nvar asset = obj.nodeId.substring(7);\nvar channel = Object.keys(obj.value.arg)[0];\nvar value = Object.values(obj.value.arg)[0];\nmsg.cmd = {\"asset\":asset,\"req\":obj.value.req,\"channel\":channel, \"value\":value};\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["f6b0193b.5a6478","f517a763.697b48"]]},{"id":"d5b78961.53aec8","type":"http request","z":"51bbabe4.29f894","name":"GET Gateway Status","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":520,"wires":[["18983503.de9f1b"]]},{"id":"1aff8c62.910834","type":"join","z":"51bbabe4.29f894","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":480,"wires":[["e75c2906.515c48"]]},{"id":"7ebfcb64.7093b4","type":"change","z":"51bbabe4.29f894","name":"Extract token","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":440,"wires":[["1aff8c62.910834"]]},{"id":"e75c2906.515c48","type":"function","z":"51bbabe4.29f894","name":"Set query parameters","func":"var obj = msg.payload;\nmsg.url = 'https://api-sbx.everyware.io/v1/_/devices/' + obj[0]\nmsg.headers = {\n    Authorization: \"Bearer \"+obj[1]\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["d5b78961.53aec8"]]},{"id":"18983503.de9f1b","type":"function","z":"51bbabe4.29f894","name":"Check connection status","func":"var obj = JSON.parse(msg.payload);\nif(obj.connection.status == \"MISSING\" || obj.connection.status == \"DISCONNECTED\"){\n    return null;\n}\nelse{\n    msg.payload=obj.id\n  \n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["53521cbb.55a554","8f1dc06f.675ba"]]},{"id":"8eee5ae2.c583a8","type":"function","z":"51bbabe4.29f894","name":"Set query parameters","func":"var obj = msg.payload;\nmsg.url = 'https://api-sbx.everyware.io/v1/_/devices/' + obj[0] + '/assets'\nmsg.headers = {\n    Authorization: \"Bearer \"+obj[1]\n}\nmsg.token = obj[1]\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["13d5b30c.335a2d"]]},{"id":"13d5b30c.335a2d","type":"http request","z":"51bbabe4.29f894","name":"GET Gateway Assets","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":640,"wires":[["142e1ed9.6ab631","156cc6d5.f69b59"]]},{"id":"6bc4e3ee.92c44c","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":820,"wires":[]},{"id":"142e1ed9.6ab631","type":"change","z":"51bbabe4.29f894","name":"Extract cmd","rules":[{"t":"set","p":"payload","pt":"msg","to":"cmd","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":720,"wires":[["156cc6d5.f69b59"]]},{"id":"156cc6d5.f69b59","type":"join","z":"51bbabe4.29f894","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":760,"wires":[["2765fa1e.c21436","e329c1f.d256c4"]]},{"id":"e329c1f.d256c4","type":"function","z":"51bbabe4.29f894","name":"Make JSON Input","func":"json = JSON.parse(msg.payload[0]);\ncmd = msg.payload[1];\ntable = []\nvar token = msg.token;\nvar id = msg.url\n\n if (json.deviceAsset !== undefined){\n     for (var i = 0; i<json.deviceAsset.length; i++){\n        if(json.deviceAsset[i].name == cmd.asset){\n              for (var j = 0; j<json.deviceAsset[i].channels.length; j++){\n                  if(json.deviceAsset[i].channels[j].name == cmd.channel){\n                      table.push(json.deviceAsset[i].channels[j].name);\n                      json.deviceAsset[i].channels[j].value = cmd.value;\n                }\n            }\n        }\n     }\n }\n \n\n\n\n// msg.payload = jsonbody;\nif (table.length !== 0) {\n    msg.url = id + \"/_write\"\n    msg.headers = {\n        Authorization: \"Bearer \"+token,\n        \"Content-Type\": \"application/json\"\n    }\n    msg.payload = {\n    \"type\": \"deviceAssets\",\n    \"deviceAsset\": [\n        {\n            \"name\": cmd.asset,\n            \"channels\": [\n                {\n                    \"valueType\": \"integer\",\n                    \"value\": cmd.value,\n                    \"name\": cmd.channel,\n                    \"timestamp\": \"2020-07-07T14:04:04.069Z\"\n                }\n            ]\n        }\n    ]\n};\n    msg.tab = table;\n    return msg;\n}\n\n\n \n","outputs":1,"noerr":0,"x":1030,"y":720,"wires":[["6bc4e3ee.92c44c","d3c6dd91.5d4f","a2626aff.8a2908","f84fb6e4.ef13b8"]]},{"id":"d3c6dd91.5d4f","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tab","targetType":"msg","x":1300,"y":780,"wires":[]},{"id":"a2626aff.8a2908","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1300,"y":740,"wires":[]},{"id":"285e28b4.ccf018","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":40,"wires":[]},{"id":"f84fb6e4.ef13b8","type":"http request","z":"51bbabe4.29f894","name":"POST Gateway Assets Values","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":860,"wires":[["fc724e58.cafe2"]]},{"id":"fc724e58.cafe2","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":880,"wires":[]},{"id":"d5e31da3.e7eb5","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":240,"wires":[]},{"id":"2765fa1e.c21436","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":840,"wires":[]},{"id":"72b71094.ea773","type":"debug","z":"51bbabe4.29f894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":320,"wires":[]},{"id":"63a9fb71.d31fd4","type":"http request","z":"51bbabe4.29f894","name":"POST Auth to get Token","method":"POST","ret":"txt","paytoqs":false,"url":"https://api-sbx.everyware.io/v1/authentication/user","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":240,"wires":[["abba6659.73e268"]]},{"id":"abba6659.73e268","type":"function","z":"51bbabe4.29f894","name":"Extract Token","func":"var obj = JSON.parse(msg.payload);\nmsg.headers = {\n    Authorization: \"Bearer \"+obj.tokenId\n}\nreturn [msg, {payload: obj.tokenId}];","outputs":2,"noerr":0,"x":260,"y":280,"wires":[["cda5d8a.866ea28","d5e31da3.e7eb5"],["fa876cce.a9e89"]]},{"id":"cda5d8a.866ea28","type":"http request","z":"51bbabe4.29f894","name":"GET Device Data","method":"GET","ret":"txt","paytoqs":false,"url":"https://api-sbx.everyware.io/v1/_/devices","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":320,"wires":[["486291de.bd90e","72b71094.ea773"]]},{"id":"486291de.bd90e","type":"function","z":"51bbabe4.29f894","name":"Extract Device IDs","func":"var obj = JSON.parse(msg.payload);\nvar devices = [];\n\nfor (var i = 0; i < obj.items.length; i++){\n    devices.push(obj.items[i].id);\n}\nmsg.payload=devices;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["2caa7642.0d60aa"]]},{"id":"f517a763.697b48","type":"function","z":"51bbabe4.29f894","name":"Pass Credencials","func":"  msg = {   \"password\" : \"Eurotech1234%\", \n        \"username\": \"Orange-WS_api\" };\nreturn {payload : msg};","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["63a9fb71.d31fd4"]]},{"id":"f06f3a34.82ea7","type":"mqtt-broker","z":"","name":"Live Objects Device","broker":"liveobjects.orange-business.com","port":"1883","tls":"e7258cda.0b59a8","clientid":"urn:lo:nsid:mqttnodered:my_device","usetls":false,"compatmode":true,"keepalive":"30","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7258cda.0b59a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]